@import '../../styles/style.nodule.scss';


section.login {
    height: 100%;
    width: 100%;
    font-family: $Font_s;
    color: white;
    font-size: 12pt;

    img {
        margin: 120px auto 20px auto;
        height: 180px;
        width: 170px;

    }

    div.Form {
        width: 370px;
        margin: 50px auto 0px auto;

        h4 {
            text-align: center;
            font-size: 0.9em;
            text-transform: uppercase;
        }

        input {
            display: block;
            width: 80%;
            height: 35px;
            margin: 15px auto;
            text-transform: uppercase;
            color: black;
            padding-left: 10px;
            font-family: $Font_s;
        }

        div.Actions {
            width: 80%;
            height: 40px;
            margin: 0px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            button:first-child {
                width: 60%;
                padding: 0px;
                text-align: left;
                text-transform: uppercase;
                font-size: 0.80em;
                font-family: $Font_s;
            }

            button:last-child {
                width: 30%;
                height: 100%;
                display: block;
                border: 1px solid $color_l1;
                color: $color_l1;
                text-transform: uppercase;
            }

            button:last-child:hover {
                background: $color_l1;
                color: white;
            }

        }

        div.Outros {
            border-top: 1px solid rgb(73, 73, 73);
            width: 100%;
            margin-top: 60px;
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h4 {
                width: 100%;
            }

            button {
                height: 35px;
                width: 35px;
                margin: 20px 2px;

                img {
                    margin: 0px;
                    height: 100%;
                    width: 100%;

                }
            }

            // button:last-child{
            //     background-image: url('../../Img/Icon_Google.png');
            //     background-size: 100%;
            //     border:1px solid red
            // }

        }

    }

    Footer {
        background-color: $color_l1;
        position: fixed;
        bottom: 0%;
        width: 100%;
        height: 60px;
    }
}



@media screen and (min-width: 1366px ) {
    section.login{
        img {
            margin-top: 60px;   
        }
        div.Form {
            margin: 20px auto 0px auto;

            div.Outros {
                border-top: 1px solid rgb(73, 73, 73);
                width: 100%;
                margin-top: 30px;
                padding-top: 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
    
                h4 {
                    width: 100%;
                }
    
                button {
                    height: 35px;
                    width: 35px;
                    margin: 10px 2px;
    
                    img {
                        margin: 0px;
                        height: 100%;
                        width: 100%;
    
                    }
                }
            }
    
        }
    
        Footer {
            background-color: $color_l1;
            position: fixed;
            bottom: 0%;
            width: 100%;
            height: 60px;
        }
    }
}

//margin: 80px auto 20px auto;