@import '../../styles/style.nodule.scss';

section.Date {
    width: 100px;
    height: 30px;
    display: flex;
    float: right;

    .SelectDate {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        color: white;
        font-family: $Font_s;

        .Buttons {
            height: 21px;

            button {
                background: transparent;
                border: none;
                color: white;
                cursor: pointer;
            }
        }

        .Periodo {

            height: 21px;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14pt;

            p:nth-child(1) {
                color: $color_l1;
                font-weight: bold;
            }

            input {
                color: red;
            }
        }
    }
}
