
$color_w: white;
$color_l1: #FA840F;
$color_c1: #16232b;
$color_c2: #222222;

$Font_m : var(--merriweathe) serif;  // "Merriweather", serif;
$Font_s : var(--quattrocento) sans-serif;  //"Quattrocento Sans", sans-serif;


